<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeta.system.dao.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zeta.system.model.entity.SysMenu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="label" jdbcType="VARCHAR" property="label"/>
        <result column="parent_id" jdbcType="BIGINT" property="parentId"/>
        <result column="sort_value" jdbcType="INTEGER" property="sortValue"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="redirect" jdbcType="VARCHAR" property="redirect"/>
        <result column="component" jdbcType="VARCHAR" property="component"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="hide" jdbcType="VARCHAR" property="hide"/>
        <result column="authority" jdbcType="VARCHAR" property="authority"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
        <result column="requires_auth" jdbcType="BIT" property="requiresAuth"/>
        <result column="href" jdbcType="VARCHAR" property="href"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, created_by, update_time, updated_by,
        label, parent_id, sort_value, name, path, redirect, component, icon, hide,
        authority, type, deleted, requires_auth, href
    </sql>



</mapper>
